apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world
spec:
  selector:
    matchLabels:
      app: hello-world
  replicas: 2
  template:
    metadata:
      labels:
        app: hello-world # the label for the pods and the deployments
    spec:
      containers:
      - name: hello-world
        image: acr30850.azurecr.io/nodejs-hello-world # IMPORTANT: update with your own repository
        imagePullPolicy: Always
        ports:
        - containerPort: 1337 # the application listens to this port
        resources:
          requests: # minimum resources required
            cpu: 250m
            memory: 64Mi
          limits: # maximum resources allocated
            cpu: 500m
            memory: 512Mi
